<div class="list-group mb-2">
  <div class="list-group-item list-group-item-secondary">
    <div class="row">
      <div class="col-3">
        <%= t('admin.main.term_type') %>
      </div>
      <div class="col-6">
        <%= t('admin.main.title') %>
      </div>
      <% if teacher %>
        <div class="col-3">
          <%= t('admin.main.teacher') %>
        </div>
      <% end %>
    </div>
  </div>
  <% seminars.each do |s| %>
    <a href="#"
       class="list-group-item list-group-item-action">
      <div class="row">
        <div class="col-2">
          <%= s.id %>
        </div>
        <div class="col-1">
          <%= s.id %>
        </div>
        <div class="col-6">
          <%= s.id %>
        </div>
        <% if teacher %>
          <div class="col-3">
            <%= s.teacher&.name %>
          </div>
        <% end %>
      </div>
    </a>
  <% end %>
</div>
