<div id="course-area">
  <%= render partial: 'courses/form',
             locals: { course: @course } %>
</div>
<%= render partial: 'media/modal' %>
<%= render partial: 'tags/modal' %>
<% if @course.seminar %>
  <%= render partial: 'seminars/modal' %>
<% else %>
  <%= render partial: 'lectures/modal' %>
<% end %>
